<div class="about" id="about">
    <div class="container">
        <h2 class="title">Обо мне</h2>
        <div class="about__content">
            <img class="about__img" src="/img/about-new.jpg" alt="Фото адвоката Михаила Шошмарина" width="450">
            <div class="about__body">
                <p>
                    Шошмарин Михаил Сергеевич, являюсь квалифицированным адвокатом, профессиональным советником.Состою в
                    адвокатской палате г. Москва, рег. номер адвоката — 77/14993.
                </p>
                <p>
                    Практический опыт – более 14 лет. Оказываю юридическую помощь по уголовным, гражданским делам и
                    арбитражным спорам.
                </p>
                <p>Успешная защита по уголовным делам на стадии предварительного следствия и в судах. Неоднократно
                    добился прекращения уголовного дела по реабилитирующим основаниям.</p>
            </div>
        </div>

        <div class="about__bot">
            <div class="about__bot-left">
                <p class="about__form-title">Оставьте заявку</p>
                <ol class="about__form-list">
                    <li>Ознакомлюсь с материалами дела</li>
                    <li>Оценю перспективы дела </li>
                    <li>Предоставлю консультацию по вашему делу</li>
                </ol>
                <p class="about__form-policy">
                    Оставляя заявку, вы автоматически соглашаетесь с <a href="./policy.html">политикой
                        конфеденциальности</a>
                </p>
            </div>
            <form class="about__form" data-send>
                <div class="about__form-row">
                    <input type="hidden" name="form-name" value="Форма обо мне">
                    <input class="about__form-input" type="text" name="name" placeholder="Ваше Имя">
                    <input class="about__form-input" type="tel" name="tel" placeholder="Ваш Телефон">
                    <button class="btn-main about__form-submit" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>