<div class="about" id="about">
    <div class="container">
        <h2 class="title">Обо мне</h2>
        <div class="about__content">
            <img class="about__img" src="/img/about-new.jpg" alt="Фото адвоката Михаила Шошмарина" width="450">
            <div class="about__body">
                <p>
                    Профессиональный девиз – «В деле главное победа, а не участие!»
                </p>
                <ul>
                    <li>Я готов предложить вам профессиональную поддержку и защитить ваши интересы в любых юридических
                        вопросах. Независимо от сложности ситуации, мы найдем с Вами эффективное решение для вас.</li>
                    <li>Конфиденциальность, компетентность и эффективность - вот мои принципы работы. Обращайтесь ко
                        мне, и вы получите качественное правовое обслуживание, основанное на моем опыте и
                        профессионализме.
                    </li>
                </ul>
                <p>Стаж работы в области юриспруденции — с 2011 года</p>
            </div>
        </div>
        <p class="about__form-title">Быстрая заявка на конслультацию</p>
        <form class="about__form" data-send>
            <div class="about__form-row">
                <input class="about__form-input" type="text" name="name" placeholder="Ваше Имя">
                <input class="about__form-input" type="tel" name="tel" placeholder="Ваш Телефон">
                <button class="btn-main about__form-submit" type="submit">Отправить</button>
            </div>
            <p class="about__form-policy">
                Оставляя заявку на консультацию, вы автоматически соглашаетесь с <a href="./policy.html">политикой конфеденциальности</a>
            </p>
        </form>
    </div>
</div>