<section id="cases" class="cases">
    <div class="container">
        <h2 class="title">Выигранные дела</h2>
        <div class="cases__list">   
            {{#repeat 8}}
            <article class="cases__item">
                <div class="cases__pic">
                    <img src="/img/cases/1.jpg" alt="bla" class="cases__img">
                </div>
                <div class="cases__item-content">
                    <h3 class="cases__item-title">Дело о сбыте наркотиков в особо крупном размере</h3>
                    <button class="cases__btn" data-galery="['/img/cases/211717.jpg','/img/cases/212851.jpg','/img/cases/212934.jpg']">Посмотреть приговор</button>
                    <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                </div>
            </article>
            {{/repeat }}
        </div>
    </div>
</section>