<section id="cases" class="cases">
    <div class="container">
        <h2 class="title">Выигранные дела</h2>
        <div class="cases__list">
            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Калинкин.jpg" alt="фото приговора Калинкин" class="cases__img" loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Калинкин.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">6 лет лишения свободы по ч.4 ст.228.1 УК РФ</h3>
                    <p>
                        Приятно, когда твой подзащитный получает окончательное наказание ниже низшего.
                    </p>
                    <p>
                        Мещанским районным судом был вынесен приговор в отношении моего доверителя по ч.4 ст.228.1 УК РФ
                        через покушение – назначено наказание в виде 6 лет.
                    </p>
                    <p>
                        Санкция инкриминируемой статьи предусматривает наказание в виде лишения свободы от 10 до 20 лет.
                        Сторона обвинения в прениях запрашивала наказание в виде минимальных – 10 лет.
                    </p>
                    <p>

                    </p>
                    <p class="cases__item-result">
                        При полном признании вины, оказании содействия следствию в виде предоставления информации по
                        совершенным закладкам, доступа к личным телефонам, обстоятельствам приобретения наркотических
                        средств, и наличия иных смягчающих обстоятельствах удалось добиться применения к обвиняемому
                        возможности назначения наказания ниже низшего предела, установленной санкцией ч.4 ст.228.1 УК
                        РФ.
                    </p>
                </div>
            </article>
            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Прохорова.jpg" alt="фото приговора прохорова" class="cases__img"
                            loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Прохорова.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">Условный срок – 4 года по ч.4 ст.228.1 УК РФ.</h3>
                    <p>
                        Органом предварительного следствия в отношении Б. было возбуждено уголовное дело по ч.4 ст.228.1
                        УК РФ как покушение на сбыт наркотических средств в крупном размере.
                    </p>
                    <p>
                        С самого начала следствия нами была выбрана позиция о полном признании вины. Целью моей работы,
                        стало назначение минимального наказания.
                    </p>
                    <p>
                        Одной из сложностей дела явился тот факт, что Б. в момент совершения преступления находилась в
                        состоянии наркотического опьянения, что квалифицировалось органами следствия как отягчающее
                        обстоятельство.
                    </p>
                    <p>
                        В ходе судебного разбирательства разбирательства удалось убедить прокуратуру и судью в том,
                        предъявление отягчающего обстоятельства в нашем случае является излишнем, что дало возможность,
                        с учетом всех смягчающих обстоятельств, применить в отношении моей доверительницы возможности
                        назначить наказание ниже низшего предела, установленной санкцией ч.4 ст.228.1 УК РФ.
                    </p>
                    <p class="cases__item-result">
                        В итоге было назначено наказание в виде четырех лет условного осуждения.
                    </p>
                </div>
            </article>
            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Колоколова.jpg" alt="фото приговора Колоколова" class="cases__img" loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Колоколова.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">Условный срок 3 года. Переквалификация с ч.4 ст.228.1 на ч.2 ст.228 УК</h3>
                    <p>
                        Переквалификация со сбыта и 3 года условного срока по ч.2 ст.228 УК РФ.
                    </p>
                    <p>
                        Симоновским районным судом г. Москвы был вынесен приговор моей подзащитной, согласно которому она был признана виновной по ч.2 ст.228 УК РФ.
                    </p>
                    <p>
                        При этом изначально следствие квалифицировало ее действия по ч.4 ст.228.1 УК – через покушение. Стороне защиты изначально удалось добиться меры пресечения в виде домашнего ареста.
                    </p>
                    <p>
                        Далее, на стадии следствия – переквалификации со сбыта на хранение. При поступлении уголовного дела в суд – мера пресечения была изменена на подписку о невыезде. 
                    </p>
                    <p class="cases__item-result">
                        Итогом работы стало назначение минимального наказания в виде 3 лет условного осуждения.
                    </p>
                </div>
            </article>
            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Прекращение чебы новое.jpg" alt="фото приговора Прекращение в Чебоксарах" class="cases__img" loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Прекращение чебы новое.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">Прекращение уголовного дела по ч.1 ст.228 УК РФ.</h3>
                    <p>
                        Органом предварительного следствия в отношении Б. было возбуждено уголовное дело по ч.1 ст.228 УК РФ по факту незаконного приобретения и хранения наркотических средств без цели сбыта.
                    </p>
                    <p>
                        С момента первого допроса нами – стороной защиты была выбрана позиция «молчания» - воспользовались Ст.51 Конституции РФ.
                    </p>
                    <p>
                        По обстоятельствам дела следовало, что Б., являясь потребителем наркотических средств приобрел для личного потребления партию наркотиков. Сотрудниками следствия был произведен обыск жилища в котором проживал Б., совместно с другими лицами. В результате обыска в комнате Б. были найдены наркотики, хранение которых и было предъявлено Б. Факт принадлежности наркотиков подтверждался только лишь показаниями свидетелей, то есть - иных лиц, проживающих совместно с Б.
                    </p>
                    <p>
                        По моей инициативе, были проведены очные ставки между Б. и указанными свидетелями, в ходе которых свидетели поменяли свои показания, указав, что им неизвестно откуда взялись наркотические средства. А так же утверждения, что наркотики принадлежат именно Б. являлись их предположениями.
                    </p>
                    <p>
                        Таким образом, проведенным предварительным расследованием не установлено достаточных данных, указывающих на факт приобретения и хранения Б. наркотического вещества.
                    </p>
                    <p class="cases__item-result">
                        В итоге, уголовное преследование в отношении моего доверителя – Б. было полностью прекращено за отсутствием в действиях Б. состава преступления.
                    </p>
                </div>
            </article>

            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Мой приговор _page-0001.jpg" alt="фото приговора Прекращение в Чебоксарах" class="cases__img" loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Мой приговор _page-0001.jpg','/img/cases/Мой приговор _page-0002.jpg','/img/cases/Мой приговор _page-0003.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">Переквалификация по ч.4 и ч.5 ст.228.1 и назначение минимального наказания</h3>
                    <p>
                        Мой подзащитный обвинялся в двух преступлениях, связанных со сбытом наркотиков. В данное дело я вступил непосредственно сразу после окончания следствия и ознакомления защиты с материалами дела. Обвиняемый же был задержан в феврале 2024 года.
                    </p>
                    <p>
                        Первоначальное обвинение – оконченное преступление по ч.3 ст.228.1 и неоконченное по ч.4 ст.228.1.
                    </p>
                    <p>
                        Особенностью данного дела была неправильная квалификация преступления со стороны обвинения. 07 февраля 2024 года Правительство издало постановление №135, согласно которому размеры некоторых наркотических средств были изменены в сторону ухудшения. Например, если ранее – крупный размер кокаина составлял от 5 до 1500 грамм, в новой редакции же крупный размер кокаина составляет от 1 до 200 грамм.
                    </p>
                    <p class="cases__item-result">
                        По итогам же судебного рассмотрения суд встал на нашу сторону – правильно квалифицировал деяния моего подзащитного, указал на все смягчающие обстоятельства, отсутствие отягчающих обстоятельств и назначил минимальное наказание – по ч.3 ст.228.1 – 5 лет, по покушению по ч.2 ст.228.1 – 6 лет.
                    </p>
                </div>
            </article>

            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/Жвания 1.jpg" alt="фото приговора Жвания" class="cases__img" loading="lazy">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/Жвания 1.jpg','/img/cases/Жвания2.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">6 лет лишения свободы по ч.4 ст.228.1 УК РФ</h3>
                    <p>
                        Нагатинским районным судом был вынесен приговор в отношении моего доверителя по ч.4 ст.228.1 УК РФ через покушение – назначено наказание в виде 6 лет.
                    </p>
                    <p>
                        Санкция данной статьи предусматривает наказание в виде лишения свободы от 10 до 20 лет.
                    </p>
                    <p>
                        Сторона обвинения в прениях запрашивала наказание в виде 11 лет лишения свободы.
                    </p>
                    <p class="cases__item-result">
                        Итог рассмотрения дела - наказание ниже низшего в размере 6 лет лишения свободы
                    </p>
                </div>
            </article>

            <article class="cases__item">
                <div class="cases__item-left">
                    <div class="cases__pic">
                        <img src="/img/cases/колоколова1.jpg" alt="фото приговора колоколова" class="cases__img">
                    </div>
                    <div class="cases__item-content">
                        <button class="cases__btn" data-galery="['/img/cases/колоколова1.jpg','/img/cases/колоколова2.jpg']">Посмотреть
                            приговор</button>
                        <button class="cases__btn" data-modal="help">Обратится за помощью</button>
                    </div>
                </div>
                <div class="cases__item-right">
                    <h3 class="cases__item-title">С Домашнего ареста на Подписку о невыезде</h3>
                    <p>
                        Районный суд г.Москвы встал на нашу сторону - стороны защиты.
                    </p>
                    <p>
                        Отказал гособвинителю в продлении домашнего ареста и удовлетворил наше ходатайство.
                    </p>
                    <p class="cases__item-result">
                        Изменил меру пресечения моей подзащитной в виде домашнего на Подписку о невыезде.
                    </p>
                </div>
            </article>

        </div>
    </div>
</section>