<section id="cases" class="cases">
    <div class="container">
        <h2 class="title">Выигранные дела</h2>
        <div class="cases__list">
            <article class="cases__item">
                <img src="/img/cases/211717.jpg" alt="bla" class="cases__img">
                <div class="cases__item-content">
                    <h3 class="cases__item-title">Дело О наркотиках</h3>
                    <p class="cases__item-descr">Суд постановил, выпустить обвиняемого из зала суда</p>
                    <button class="btn-main">Обратится за помощью</button>
                </div>
            </article>
        </div>
    </div>
</section>