<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__top">
            <a href="/" class="footer__logo">Адвокат Михаил Шошмарин</a>
            <p class="">Свяжитесь со мной удобным вам способом</p>
            <div class="footer__contacts">
                <a class="footer__phone" href="tel:+79278423134">8(927)842-31-34</a>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a href="https://t.me/advokat_mihail" class="footer__social-link footer__social-link--tg"
                            title="Написать в телеграмм" aria-label="Написать в телеграм"></a>
                    </li>
                    <li class="footer__social-item">
                        <a href="https://wa.me/79278423134" class="footer__social-link footer__social-link--whatsup"
                            title="Написать в whatsup" aria-label="Написать в whatsup"></a>
                    </li>
                </ul>
            </div>
            <div>
                <p>Либо вы можете оставить заявку и я вам перезвоню</p>
                <form class="footer__form">
                    <input class="footer__form-input" type="text" name="name" placeholder="Ваше Имя">
                    <input class="footer__form-input" type="tel" name="tel" placeholder="Ваш Телефон">
                    <button class="footer__form-submit">Оставить заявку</button>
                </form>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__policy"><a href="./policy.html">Политика конфидициальности</a></p>
            <p class="footer__copy">© Михаил Шошмарин, 2025. Все права защищены.</p>
        </div>
    </div>
</footer>
<div class="form-popup" id="callback">
    <div class="form-popup__inner">
        <form class="form-popup__elem" data-send>
            <input type="hidden" name="form-name" value="Заказать звонок">
            <p class="form-popup__title">Заказать звонок</p>
            <input class="form-popup__input" type="text" name="name" placeholder="Ваше имя">
            <input class="form-popup__input" type="tel" name="tel" placeholder="Ваш телефон">

            <button class="btn-main form-popup__submit" type="submit">Перезвонить мне</button>
            <p class="form-popup__policy">
                Оставляя заявку на консультацию, вы автоматически соглашаетесь с <a href="./policy.html"
                    target="_blank">политикой
                    конфеденциальности</a>
            </p>
        </form>
    </div>
    <button class="form-popup__close" aria-label="Закрыть окно"></button>
</div>
<div class="form-popup" id="help">
    <div class="form-popup__inner">
        <form class="form-popup__elem" data-send>
            <input type="hidden" name="form-name" value="Нужна помощь?">
            <p class="form-popup__title">Нужна помощь?</p>
            <input class="form-popup__input" type="text" name="name" placeholder="Ваше имя">
            <input class="form-popup__input" type="tel" name="tel" placeholder="Ваш телефон">

            <button class="btn-main form-popup__submit" type="submit">Оставить заявку</button>
            <p class="form-popup__policy">
                Оставляя заявку на консультацию, вы автоматически соглашаетесь с <a href="./policy.html"
                    target="_blank">политикой
                    конфеденциальности</a>
            </p>
        </form>
    </div>
    <button class="form-popup__close" aria-label="Закрыть окно"></button>
</div>
<div class="form-popup" id="departure">
    <div class="form-popup__inner">
        <form class="form-popup__elem" data-send>
            <input type="hidden" name="form-name" value="Срочный выезд!">
            <p class="form-popup__title">Срочный выезд!</p>
            <input class="form-popup__input" type="text" name="name" placeholder="Ваше имя">
            <input class="form-popup__input" type="tel" name="tel" placeholder="Ваш телефон">

            <button class="btn-main form-popup__submit" type="submit">Оставить заявку</button>
            <p class="form-popup__policy">
                Оставляя заявку на консультацию, вы автоматически соглашаетесь с <a href="./policy.html"
                    target="_blank">политикой
                    конфеденциальности</a>
            </p>
        </form>
    </div>
    <button class="form-popup__close" aria-label="Закрыть окно"></button>
</div>
<div class="bottom-btns">
    <div class="container">
        <ul class="social">
            <li class="social__item">
                <a href="tel:+79278423134" class="social__link social__link--phone"
                    title="Написать в телеграмм" aria-label="Позвонить мне"></a>
            </li>
            <li class="social__item">
                <a href="https://t.me/advokat_mihail" class="social__link social__link--tg"
                    title="Написать в телеграмм" aria-label="Написать в телеграм"></a>
            </li>
            <li class="social__item">
                <a href="https://wa.me/79278423134" class="social__link social__link--whatsup"
                    title="Написать в whatsup" aria-label="Написать в whatsup"></a>
            </li>
        </ul>
    </div>
</div>