<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__top">
            <a href="/" class="footer__logo">Адвокат Михаил Шошмарин</a>
            <p class="">Свяжитесь со мной удобным вам способом</p>
            <div class="footer__contacts">
                <a class="footer__phone" href="tel:+79278423134">8(927)842-31-34</a>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link footer__social-link--tg" title="Написать в телеграмм"
                            aria-label="Написать в телеграм"></a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link footer__social-link--whatsup" title="Написать в whatsup"
                            aria-label="Написать в whatsup"></a>
                    </li>
                </ul>
            </div>
            <div>
                <p>Либо вы можете оставить заявку и я вам перезвоню</p>
                <form class="footer__form">
                    <input class="footer__form-input" type="text" name="name" placeholder="Ваше Имя">
                    <input class="footer__form-input" type="tel" name="tel" placeholder="Ваш Телефон">
                    <button class="footer__form-submit">Оставить заявку</button>
                </form>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__policy"><a href="#">Политика конфидициальности</a></p>
            <p class="footer__copy">© Михаил Шошмарин, 2025. Все права защищены.</p>
        </div>
    </div>
</footer>