<footer class="footer" id="footer">
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__row">
                <div class="footer__left">
                    <a href="/" class="footer__logo">
                        <img src="./img/icons/footer-logo.svg" alt="" width="70" height="70">
                        <span>
                            Адвокат в Москве<br>
                            c опытом 14 лет
                        </span>
                    </a>
                    <p class="footer__bottom-descr">
                        Практический опыт – более 14 лет. Оказываю юридическую помощь по уголовным, гражданским делам и
                        арбитражным спорам
                    </p>
                    <p class="footer__policy"><a href="./policy.html">Политика конфидициальности</a></p>
                    <p class="footer__copy">© Михаил Шошмарин, 2025.<br>Все права защищены.</p>
                </div>
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="./#cases">Выигранные дела</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="./#about">Обо мне</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="./#media">Я в СМИ</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="./#price">Цены</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="./#footer">Контакты</a>
                    </li>
                </ul>
                <div class="footer__right">
                    <p>Телефон:<br><a class="footer__phone" href="tel:+79278423134">8(927)842-31-34</a></p>
                    <p>Работаю по всей Москве в отдельных случаях в области</p>
                    <p>График работы:<br>круглосуточно</p>
                </div>
            </div>

        </div>
    </div>
</footer>
<div class="bottom-btns">
    <div class="container">
        <ul class="social">
            <li class="social__item">
                <a href="tel:+79278423134" class="social__link social__link--phone" title="Написать в телеграмм"
                    aria-label="Позвонить мне"></a>
            </li>
            <li class="social__item">
                <a href="https://t.me/advokat_mihail" class="social__link social__link--tg" title="Написать в телеграмм"
                    aria-label="Написать в телеграм"></a>
            </li>
            <li class="social__item">
                <a href="https://wa.me/79278423134" class="social__link social__link--whatsup"
                    title="Написать в whatsup" aria-label="Написать в whatsup"></a>
            </li>
        </ul>
    </div>
</div>