<header class="header">
    <div class="container">
        <div class="header__links">
            <a href="/" class="header__logo">
                <img src="./img/icons/logo.svg" alt="" width="70" height="70">
                <span>
                    Адвокат в Москве<br>
                    c 14 лет опыта
                </span>
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="./#cases" class="header__nav-link">Мои победы</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./#about" class="header__nav-link">Обо мне</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./#media" class="header__nav-link">Я в СМИ</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./#price" class="header__nav-link">Цены</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="./#footer" class="header__nav-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__contacts">
                <ul class="header__social">
                    <li class="header__social-item">
                        <a href="https://t.me/advokat_mihail" class="header__social-link header__social-link--tg"
                            title="Написать в телеграмм" aria-label="Написать в телеграм"></a>
                    </li>
                    <li class="header__social-item">
                        <a href="https://wa.me/79278423134" class="header__social-link header__social-link--whatsup"
                            title="Написать в whatsup" aria-label="Написать в whatsup"></a>
                    </li>
                </ul>
                <a class="header__phone" href="tel:+79278423134">8 (927) 842-31-34</a>
                <button class="btn-main header__callback" data-modal="callback">Заказать звонок</button>
            </div>
        </div>
    </div>
</header>