<section class="media" id="media">
    <div class="container">
        <h2 class="title">СМИ</h2>
        <div class="media__content">
            <div class="media__item">
                <img class="media__item-img" src="/img/media-1.jpg" alt="Фото из медиа" width="500">
                <p>
                    Как защита от агрессии курьера обернулась обвинением по статье ч.2 ст. 213?!
                </p>
                <a href="https://tass.ru/proisshestviya/24524171" target="_blank">Посмотреть иcточник</a>
            </div>
            <div class="media__item">
                <img class="media__item-img" src="/img/media-2.png" alt="Фото из медиа" width="500">
            </div>
        </div>
    </div>
</section>