<section class="media" id="media">
    <div class="container">
        <h2 class="title">Я в СМИ</h2>
        <div class="media__grid">
            <article class="media__item">
                <div class="media__view">
                    <img class="media__logo" src="/img/media/logo-1.svg" alt="Логотип Медиа Источника" loading="lazy">
                    
                </div>
                <img class="media__img" src="/img/media/photo-1.webp" alt="Фото из медиа Россия 24" loading="lazy">
                <div class="media__content">
                    <h2 class="media__title">Как защита от агрессии курьера обернулась обвинением по
                        статье&nbsp;ч.2&nbsp;ст.&nbsp;213?!</h2>
                    <p>
                        Гражданин Сербии Йованович обвиняется в том, что в ходе конфликта на парковке он выстрелил из
                        стартового пистолета в сторону автомобиля Lada Granta, в котором находилась потерпевшая со своим
                        мужем", - сказано в материалах дела. Сербу предъявлено обвинение по ч. 2 ст. 213 УК РФ
                        (хулиганство, совершенное с применением оружия)
                    </p>
                    <p>
                        Йованович вину не признает. "Сторона защиты не согласна с предъявленным обвинением, поскольку
                        между сторонами фактически возник конфликт, инициатором которого был водитель автомобиля Granta.
                        Исключительно в ответ на эти неправомерные действия подсудимым и был осуществлен выстрел", -
                        заявил ТАСС адвокат обвиняемого Михаил Шошмарин. Он подчеркнул, что Йованович стрелял в воздух,
                        а не в сторону водителя или его жены. "Обвиняемым был осуществлен выстрел из сигнального
                        пистолета, который, исходя из обстоятельств произошедших событий, не мог причинить вред ни
                        потерпевшей, ни иным участникам конфликта. Соответственно, состава преступления в действиях
                        подсудимого не имеется", - отметил защитник.
                    </p>
                </div>
            </article>
            <article class="media__item">
                <div class="media__view">
                    <img class="media__logo" src="/img/media/logo-2.webp" alt="Логотип Медиа Источника" loading="lazy">
                </div>
                <img class="media__img" src="/img/media/photo-2.webp" alt="Фото из медиа Тасс" loading="lazy">
                <div class="media__content">
                    <h2 class="media__title">Как защита от агрессии курьера обернулась обвинением по
                        статье&nbsp;ч.2&nbsp;ст.&nbsp;213?!</h2>
                    <p>
                        Гражданин Сербии Йованович обвиняется в том, что в ходе конфликта на парковке он выстрелил из
                        стартового пистолета в сторону автомобиля Lada Granta, в котором находилась потерпевшая со своим
                        мужем", - сказано в материалах дела. Сербу предъявлено обвинение по ч. 2 ст. 213 УК РФ
                        (хулиганство, совершенное с применением оружия)
                    </p>
                    <p>
                        Йованович вину не признает. "Сторона защиты не согласна с предъявленным обвинением, поскольку
                        между сторонами фактически возник конфликт, инициатором которого был водитель автомобиля Granta.
                        Исключительно в ответ на эти неправомерные действия подсудимым и был осуществлен выстрел", -
                        заявил ТАСС адвокат обвиняемого Михаил Шошмарин. Он подчеркнул, что Йованович стрелял в воздух,
                        а не в сторону водителя или его жены. "Обвиняемым был осуществлен выстрел из сигнального
                        пистолета, который, исходя из обстоятельств произошедших событий, не мог причинить вред ни
                        потерпевшей, ни иным участникам конфликта. Соответственно, состава преступления в действиях
                        подсудимого не имеется", - отметил защитник.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>