<section class="price" id="price">
    <div class="container">
        <h2 class="title">Цены</h2>
        <p>Примерная стоимость услуг:</p>
        <p>В каждом отдельном случае стоимость услуг адвоката зависит от объема работы, тяжести обвинения, квалификации
            вменяемого преступления.</p>
        <p>Защита по уголовному делу, включает полное адвокатское сопровождение до вынесения судом решения, без
            ограничения количества консультаций, заседаний и процессуальных действий.</p>
        <table class="price__table">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Первичная консультация</td>
                    <td>Бесплатно</td>
                </tr>
                <tr>
                    <td>Защита на предварительном следствии (дознании)</td>
                    <td>от 50 000 руб</td>
                </tr>
                <tr>
                    <td>Защита в суде первой инстанции</td>
                    <td>от 50 000 руб</td>
                </tr>
                <tr>
                    <td>Защита в суде с участием присяжных заседателей</td>
                    <td>индивидуально</td>
                </tr>
                <tr>
                    <td>Составление апелляционной, кассационной жалобы, иных процессуальных документов</td>
                    <td>от 20 000 руб</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>