<div class="top">
    <div class="container top__inner">
        <div class="top__content">
            <h1 class="top__title">Адвокат Михаил Шошмарин</h1>
            <p class="top__info">Регистрационный номер 77/14993 в реестре адвокатов&nbsp;г.&nbsp;Москвы</p>
            <p class="top__notice">Бесплатная консультация адвоката.</p>
            <p class="top__descr">
                Разберу вашу ситуацию. По результатам консультации вы получите полное
                понимание о перспективах Вашего дела, стоимость услуг
            </p>
            <div class="top__btns-row">
                <button class="top__btn" data-modal="departure">Оставить заявку</button>
            </div>
        </div>
    </div>
</div>