<div class="top">
    <div class="container top__content">
        <h1 class="top__title">Адвокат Михаил Шошмарин</h1>
        <p class="top__descr">Регистрационный номер 77/14993 в реестре адвокатов&nbsp;г.&nbsp;Москвы</p>
        <a href="#cases" class="top__btn">
            <span>Выигранные дела</span>
            <svg class="filter" fill="#000000" width="24px" height="24px" viewBox="0 0 256 256"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M229.65723,141.65723l-96,96a8.003,8.003,0,0,1-11.31446,0l-96-96A8.00065,8.00065,0,0,1,32,128H72V48A16.01833,16.01833,0,0,1,88,32h80a16.01833,16.01833,0,0,1,16,16v80h40a8.00066,8.00066,0,0,1,5.65723,13.65723Z" fill="currentColor">
                </path>
            </svg>
        </a>
        <p class="top__notice">Срочный выезд 24/7!</p>
    </div>
</div>