@media (max-height: 1080px) {

    .top,
    .thank-wrapper {
        min-height: 100vh;
    }
}

@media (max-width: 1200px) {
    .top {
        background-position: top 50px left -250px, top center, top center;
        min-height: unset;

        &__content {
            margin-left: 150px;
        }

        &__title {
            font-size: 32px;
        }

        &__info {
            font-size: 14px;
            margin-bottom: 30px;
        }

        &__notice {
            font-size: 18px;
        }

        &__descr {
            font-size: 16px;
            max-width: 552px;
        }

        &__btns-row {
            max-width: 300px;
        }
    }

    .cases {
        &__item {
            grid-template-columns: 150fr 350fr;

        }

        &__item-left {
            grid-column: unset;

        }

        &__item-right {
            grid-column: unset;
            align-self: flex-start;
        }
    }

    .about {
        &__content {
            display: grid;
            gap: 20px;
            grid-template-columns: 2fr 3fr;
        }

        &__img {
            font-size: 14px;
            margin-top: 1em;
        }

        &__body {
            font-size: 14px;
        }
    }

    .media {
        &__grid {
            gap: 25px;
        }
    }

    .title {
        font-size: 48px;
    }

    .header {
        &__nav {
            display: none;
        }

        &__contacts {
            margin-left: auto;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &__logo {
            margin-left: -15px;

            & span {
                margin-left: -10px;
            }
        }

        &__links {
            gap: 10px;
        }

        &__phone {
            font-size: 18px;
        }

        &__contacts {
            gap: 5px;
        }

        &__callback {
            margin-left: auto;
            order: 2;
        }
    }

    .bottom-btns {
        display: block;
    }

    .footer {
        &__bottom {
            padding-bottom: 100px;
        }

        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__menu {
            margin: 0;
            text-align: center;
        }

        &__left {
            text-align: center;
            display: contents;
        }

        &__logo {
            justify-content: center;
        }

        &__copy,
        &__policy {
            order: 2;
            margin: 0;
        }

        &__right {
            text-align: center;
        }

        &__bottom-descr {
            margin: 0 auto;
            max-width: 500px;
        }
    }

    .top {
        background-image: none;
        padding-top: 500px;
        padding-bottom: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            background-image: url("../img/top-bg-phone.webp"), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url("../img/top-bg.jpg");
            background-position: bottom -200px center, top center, top center;
            background-size: 400px auto, auto auto, auto auto;
            background-repeat: no-repeat;
        }

        &__content {
            width: 100%;
            padding-top: 15px;
            text-align: center;
            padding-top: 15px;
            margin: auto;
        }

        &__btns-row {
            margin: 20px auto 0;
        }

        &__info {
            margin-bottom: 20px;
        }
    }


    .cases {
        padding: 50px 0;

        &__item {
            grid-template-columns: 2fr 3fr;

        }

        &__item-right {
            font-size: 14px;
        }

        &__item-result {
            font-size: 16px;
        }

        &__item-title {
            font-size: 18px;
        }
    }

    .about {
        &__content {
            grid-template-columns: 1fr;
        }

        &__img {
            order: 1;
            display: block;
            margin: 0 auto;
        }

        &__body {
            font-size: 14px;
        }

        &__bot {
            flex-direction: column;
            max-width: 600px;
            margin: 0 auto;
            gap: 15px;
        }

        &__bot-left {
            display: contents;
        }

        &__form-row {
            flex-direction: column;
        }

        &__form-title {
            text-align: center;
            margin: 36px 0 0;
        }

        &__form-policy {
            order: 2;
            margin-top: 0;
            text-align: center;
        }
    }

    .media {
        &__grid {
            grid-template-columns: 1fr;
        }
    }

    .thank {
        &__title {
            font-size: 24px;
        }

        &__descr {
            font-size: 18px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__logo {
            margin-left: -5px;
        }

        &__social {
            display: none;
        }

        &__phone {
            display: none;
        }
    }

    .top {
        &__title {
            font-size: 28px;
        }
    }

    .cases {
        padding: 50px 0 25px;

        &__item {
            grid-template-columns: 1fr;
        }

        &__item-left {
            max-width: 400px;
            margin: auto;
            order: 2;
        }

        &__item-content {
            padding-top: 150px;
        }

        &__item-title {
            font-size: 22px;
            text-align: center;
        }
    }

    .about {
        padding: 25px 0;

        &__content {
            margin-top: 25px;
        }

        &__form-title {
            font-size: 24px;
        }

        &__form-list {
            font-size: 16px;
        }

        &__form-input {
            padding: 15px;
        }

        &__form-policy {
            font-size: 14px;
        }
    }

    .title {
        font-size: 32px;
    }

    .media {
        padding: 25px 0;

        &__item {
            margin-top: 15px;
        }

        &__logo {
            width: 150px;
        }

        &__title {
            font-size: 18px;
        }
    }

    .price {
        padding: 25px 0 50px;
    }

    .form-popup {
        &__title {
            font-size: 24px;
        }

        &__elem {
            padding: 20px;
        }

        &__policy {
            font-size: 12px;
        }
    }

    .footer {
        &__person {
            font-size: 24px;
        }
    }
}

@media (max-width: 450px) {
    .header {
        &__logo {
            font-size: 12px;
            max-width: 218px;

            & img {
                width: 50px;
                height: 50px;
                margin-left: -15px;
            }

            & span br {
                display: none;
            }
        }
    }
}