@media (max-height: 1080px) {
    .top {
        min-height: 100vh;
    }
}


@media (max-width: 1200px) {
    .top {
        background-position: top 50px left -250px, top center, top center;

        &__notice {
            display: none;
        }
    }

    .cases {
        &__item {
            grid-template-columns: 150fr 350fr;

        }

        &__item-left {
            grid-column: unset;

        }

        &__item-right {
            grid-column: unset;
            align-self: flex-start;
        }
    }

    .about {
        &__content {
            display: grid;
            gap: 20px;
            grid-template-columns: 2fr 3fr;
        }

        &__img {
            font-size: 14px;
            margin-top: 1em;
        }

        &__body {
            font-size: 14px;
        }
    }

    .media {
        &__content {
            gap: 20px;
            margin-top: 20px;
            grid-template-columns: 1fr;
        }

        &__pic {
            display: none;
        }

        &__btn {
            margin: 0 auto;
        }

        &__body {
            font-size: 14px;
        }
    }

    .price {
        font-size: 14px;
    }

    .title {
        font-size: 48px;
    }

    .header {
        &__nav {
            display: none;
        }

        &__contacts {
            margin-left: auto;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &__links {
            gap: 10px;
        }

        &__contacts {
            gap: 10px;
        }

        &__callback {
            margin-left: auto;
            order: 2;
        }
    }

    .bottom-btns {
        display: block;
    }

    .footer {
        &__bottom {
            padding-bottom: 100px;
        }

        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__menu {
            margin: 0;
            text-align: center;
        }

        &__left {
            text-align: center;
            display: contents;
        }

        &__logo {
            justify-content: center;
        }

        &__copy, &__policy {
            order: 2;
            margin: 0;
        }

        &__right {
            text-align: center;
        }

        &__bottom-descr {
            margin: 0 auto;
            max-width: 500px;
        }
    }

    .top {
        background-position: top center, top center, top center;

        &__notice {
            display: none;
        }

        &__content {
            padding-top: 15px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }

        &__btn {
            padding-bottom: 10px;
        }
    }


    .cases {
        &__item {
            grid-template-columns: 2fr 3fr;

        }

        &__item-right {
            font-size: 14px;
        }

        &__item-result {
            font-size: 16px;
        }

        &__item-title {
            font-size: 18px;
        }
    }

    .about {
        &__content {
            grid-template-columns: 1fr;
        }

        &__img {
            order: 1;
            display: block;
            margin: 0 auto;
        }

        &__body {
            font-size: 14px;
        }

        &__bot {
            flex-direction: column;
            max-width: 600px;
            margin: 0 auto;
            gap: 15px;
        }

        &__bot-left {
            display: contents;
        }

        &__form-row {
            flex-direction: column;
        }

        &__form-title {
            text-align: center;
            margin: 36px 0 0;
        }

        &__form-policy {
            order: 2;
            margin-top: 0;
            text-align: center;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__contacts {
            gap: 10px;
        }

        &__social {
            display: none;
        }

        &__phone {
            display: none;
        }
    }

    .top {
        &__content {
            padding-top: 15px;
            margin-left: max(15px, calc((100% - 471px) / 2));
            margin-right: max(15px, calc((100% - 471px) / 2));
        }

        &__title {
            font-size: 28px;
        }
    }

    .cases {
        padding: 50px 0 25px;

        &__item {
            grid-template-columns: 1fr;
        }

        &__item-left {
            max-width: 400px;
            margin: auto;
            order: 2;
        }

        &__item-content {
            padding-top: 150px;
        }

        &__item-title {
            font-size: 22px;
            text-align: center;
        }
    }

    .about {
        padding: 25px 0;

        &__content {
            margin-top: 25px;
        }

        &__form-title {
            font-size: 24px;
        }

        &__form-list {
            font-size: 16px;
        }

        &__form-input {
            padding: 15px;
        }

        &__form-policy {
            font-size: 14px;
        }
    }

    .title {
        font-size: 32px;
    }

    .media {
        padding: 25px 0;

        &__content {
            margin-top: 0;
        }
    }

    .price {
        padding: 25px 0 50px;
    }

    .form-popup {
        &__title {
            font-size: 24px;
        }

        &__elem {
            padding: 20px;
        }

        &__policy {
            font-size: 12px;
        }
    }
}