@use "var";

.footer {
    &__top {
        padding: 150px 0 200px;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)),url("../img/footer-form-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__top-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
    }

    &__top-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 1;
        margin: 0;
        display: inline-block;
        text-align: center;
    }

    &__top-notice {
        font-family: var.$accent-font;
        font-weight: 400;
        font-size: 64px;
        margin: 0;
    }

    &__top-descr {
        max-width: 650px;
        width: 100%;
        margin: 1em auto 2em;
        font-size: 18px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 650px;
        width: 100%;
        margin: auto;
    }

    &__form-input {
        color: #000000;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        padding: 15px;
        flex-grow: 1;

        &:focus {
            outline: 2px solid #eee;
            outline-offset: 2px;
        }
    }

    &__form-submit {
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-family: var.$accent-font;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        padding: 15px;
    }

    &__form-policy {
        font-size: 14px;

        & a {
            text-decoration: underline;
        }
    }

    &__bottom {
        background-color: #000;
        color: #fff;
        padding: 50px 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    &__logo {
        font-family: var.$accent-font;
        font-weight: 400;
        line-height: 1;
        margin: 0 0 0 -15px;
        display: flex;
        align-items: center;
    }

    &__policy {
        margin-top: auto;
    }

    &__copy {
        margin: 5px 0 0;
    }

    &__policy a {
        text-decoration: underline;
    }

    &__menu {
        padding-left: 0;
        list-style: none;
        margin: 0 50px 0 10px;
    }

    &__menu-link {
        font-size: 18px;
    }

    &__right {
        max-width: 219px;
        font-size: 18px;
    }

    &__phone-wrap {
        margin: 0;
    }

    &__social {
        display: flex;
        gap: 15px;
        list-style: none;
        margin: 5px 0 15px;
        padding-left: 0;
    }

    &__social-link {
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &--tg {
            background-image: url("../img/icons/telegram.svg");
        }

        &--whatsup {
            background-image: url("../img/icons/whatsup.svg");
        }

        &--vk {
            background-image: url("../img/icons/vk.svg");
        }
    }

    &__phone {
        font-family: var.$accent-font;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.5px;
    }

    &__right-text {
        margin: 0 0 15px;
    }
}