@use "var";

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px 0;
    z-index: 3;

    &__links {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-family: var.$accent-font;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-left: -10px;

        & span {
            margin-left: -5px;
        }
    }

    &__nav {
        display: flex;
        margin-right: auto;
    }

    &__nav-list {
        display: flex;
        gap: 15px;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    &__nav-link {
        font-family: var.$accent-font;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    &__phone {
        font-family: var.$accent-font;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.5px;
    }

    &__contacts {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__social {
        display: flex;
        gap: 5px;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__social-link {
        width: 24px;
        height: 24px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &--tg {
            background-image: url("../img/icons/telegram.svg");
        }

        &--whatsup {
            background-image: url("../img/icons/whatsup.svg");
        }
    }


}