.media {
    padding: 50px 0;

    &__grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    &__view {
        width: 200px;
        margin-bottom: 20px;
    }

    &__logo {
        height: 75px;
        display: block;
    }

    &__img {
        width: 100%;
        display: block;
        max-width: 400px;
    }
}