@use "var";

.top {
    min-height: 850px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url("../img/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center, top center;
    display: flex;

    &__inner {
        display: flex;
        width: 100%;
        padding-top: 170px;
        padding-bottom: 70px;
        background-image: url("../img/top-bg-phone.webp");
        background-repeat: no-repeat;
        background-size: 600px auto;
        background-position: bottom -100px right -28px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: auto;
    }

    &__title {
        margin: 0;
        font-size: 48px;
        line-height: 1;
    }

    &__info {
        margin: 10px 0 90px;
        font-size: 18px;
        line-height: 1.2;
    }

    &__notice {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
    }

    &__descr {
        max-width: 750px;
        margin: 0;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.2;
    }

    &__btns-row {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 30px 0 0;
        max-width: 500px;
    }

    &__btn {
        font-size: 20px;
        margin: 0;
        padding: 15px 25px;
        font-weight: 400;
        text-align: center;
        background-color: #000;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        width: 100%;
        font-weight: 400;
        font-family: var.$accent-font;

        &:hover {
            text-decoration: none;
        }
    }
}