@font-face {
    font-family: 'Constantine';
    src: url('../fonts/Constantine.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$base-font: "Nunito Sans", sans-serif;
$accent-font: 'Constantine', Georgia, 'Times New Roman', serif;
